@import url("index.css");

/* Page header */

.page-header {
    margin-top: 60px;
}

.page-header_bold {
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
}

/* Photo gallery */

.gallery-carousel {
    margin-top: 30px;
    border-top: 1px solid #f2f2f2;
}

.carousel {
    
}

.carousel__inner {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 30px;
}

.carousel__item {
    position: relative;
    height: 260px;
    width: 210px;
    background-color: #c4c4c4;
}

.carousel__item img {
    object-fit: cover;
}

.carousel__navigator {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.carousel__indicators {

}

.carousel__indicators p {
    font-size: 24px;
    line-height: 24px;
    color: #bdbdbd;
    display: flex;
    align-items: center;
}

.carousel__indicators *:nth-child(n+2) {
    margin-left: 30px;
}

.carousel__control {
    display: flex;
    margin-left: 30px;
}

.carousel__control-prev,
.carousel__control-next {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    width: 53px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    cursor: pointer;
}

.carousel__control-prev img,
.carousel__control-next img {
    filter: invert(17%) sepia(0%) saturate(0%) hue-rotate(348deg) brightness(99%) contrast(91%);
}

.carousel__control-prev:hover,
.carousel__control-next:hover {
    background-color: #f9f9f9;
}

.carousel__control-prev {
    transform: rotate(180deg);
}

.carousel__control-next {
    margin-left: 22px;
}