@import url("normalize.css");
@import url("roboto.css");
@import url("layout.css");

.button__more {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 71px;
    width: 222px;
    color: #333;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.button__more p {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.button__more img {
    margin-left: 15px;
}

.button__more:hover {
    color: #fff;
    background-color: #333;
}

.button__more:hover img {
    filter: invert(100%);
}

.main-h1 {
    font-size: 64px;
    line-height: 64px;
    font-weight: 300;
    text-transform: capitalize;
    color: #bdbdbd;
}
