#modal-form-sended.modal
        .modal__content
            button#close-modal-form-sended.modal__close-button
                img(src='images/shared/cancel-button.svg' alt='close')
            img.modal-form-sended__success-icon(src='images/shared/success_icon.svg' alt='success')
            h4.modal-form-sended__header Thanks!
            p.modal-form-sended__descriptioin Your message has been sent and we will contact you as soon as possible
            button#go-back.modal-form-sended__more-button.modal__more-button.button__more
                p Go back