@import url(shared.css);

/* Modal sended form */

.modal-form-sended__success-icon {
    margin-top: 18px;
}

.modal-form-sended__header {
    margin-top: 24px;    
    color: #333;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.4px;
}

.modal-form-sended__descriptioin {
    margin-top: 27px;
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0.4px;
}

.modal-form-sended__more-button {
    margin-top: 41px;
}