/* Normalize */

fieldset {
    margin-inline: unset;
    padding-inline: unset;
    padding-block: unset;
    min-inline-size: unset;
    border: unset;
}

legend {
    padding-inline: unset;
    unicode-bidi: unset;
    border: unset;
}

@import url(shared.css);

/* Modal form */

.modal-form__form {
}

.modal-form__legend {
    text-align: center;
    color: #333;
    font-size: 21px;
    font-weight: 700;
}

.modal-form__input-group {
    position: relative;
    display: flex;
}

.modal-form__input-group:first-of-type {
    margin-top: 26px;
}

.modal-form__input-group:nth-child(n+3) {
    margin-top: 10px;
}

.modal-form__input-group:last-of-type {
    align-items: center;
    margin-top: 15px;
}

.modal-form__text-label,
.modal-form__text-input,
.modal-form__textarea-input,
.modal-form__checkbox-label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04em;
}

.modal-form__text-label {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 21px;
    color: #8d8d8d;
    cursor: text;
}

.modal-form__text-input {
    height: 45px;
    width: 391px;
    padding: 15px 21px;
    border: 0;
    color: #333;
    background-color: #f3f3f3;
}

.modal-form__textarea-label {
    margin-top: 14px;
    align-items: normal;
}

.modal-form__textarea-input {
    height: 147px;
    resize: none;
}

.modal-form__text-input:required ~ .modal-form__text-label span {
    color: #c30000;
}

.modal-form__text-input:focus ~ .modal-form__text-label,
.modal-form__text-input:not(:placeholder-shown) ~ .modal-form__text-label {
    z-index: -1;
}

.modal-form__checkbox-label {
    color: #333;
    margin-left: 16px;
}

.modal-form__checkbox-input[type="checkbox"] {
    appearance: none;
    background-color: #f3f3f3;
    margin: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: grid;
    flex-shrink: 0;
    place-content: center;
}

.modal-form__checkbox-input[type="checkbox"]::before {
    content: url(../../images/shared/checkmark.svg);
    filter: invert(17%) sepia(0%) saturate(0%) hue-rotate(348deg) brightness(99%) contrast(91%);
    display: none;
}

.modal-form__checkbox-input[type="checkbox"]:checked::before {
    display: block;
}

.modal-form__more-button {
    margin-top: 27px;
}
